/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #2C3E50;
    color: #e5ff00;
    padding: 10px 0;
    font-size: 20px;
    
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('bcaa.jpg');
    background-size: cover;
    background-position: center;
    color: #ffee00;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h2 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background: #E67E22;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.products {
    padding: 40px 20px;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    background: #919090;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    width: 250px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.product-card p {
    font-size: 1.2rem;
    color: #333;
}

.product-card .btn {
    display: inline-block;
    padding: 10px 15px;
    background: #3498DB;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.product-card .btn:hover {
    background: #2980B9;
}

footer {
    background: #2C3E50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 10px 0;
}
